<body>

<header>

  <div class = "container-fluid header jumbotron">
            <h4>{{title | uppercase}}</h4>
  </div> 
</header>

<div class="container">
  <div class="nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myTab" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <ul class="nav nav-tabs " id="myTab">
    <li class="nav-item"><a class="nav-link" data-toggle="tab" [routerLink]="['/home']">Characters</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" [routerLink]="['/books']">Books</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" [routerLink]="['/houses']">Houses</a></li>
    </ul>
  </div>
  </div>

<router-outlet></router-outlet>
</body>